//******************************************************************************
// HEADER
//******************************************************************************

.site-header {
    width: 100%;
    height: 38px;
    position: fixed;
    top: 25px;
    left: 0;
    z-index: 13;

    @media #{$small-and-down} {
        height: 48px;
        background-color: #fff;
        display: none;
        padding-top: 12px;
        padding-bottom: 12px;
        top: 0;
        transition: background 0.6s cubic-bezier(0.77, 0, 0.175, 1);

        .mobile-nav-opened & {
            background-color: $brand-1;
        }
    }

    .burger {
        position: absolute;
        top: 50%;
        right: $grid-gutter-width;
        transform: translateY(-50%);
        transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease-out;
    }
}

.mobile-nav-opened .site-header .burger {
    opacity: 0;

    @media #{$medium-and-down} {
        opacity: 1;
    }
}


.section-search {
    height: 30px;
    text-align: right;
    padding-right: 84px;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 0;


    @media screen and (max-width: #{map-get($grid-breakpoints, md) - 1}) {
        display: none !important;
    }

    .social-links {
        display: inline-block;
        font-size: 0;
        margin-left: 26px;
    }

    .social-link {
        display: inline-block;
        color: $brand-1;
        font-size: 18px;
        line-height: 37px;
        margin-left: 11px;
        transition: opacity 0.15s ease-out;

        &:hover {
            opacity: 0.5;
        }
    }
}
