//******************************************************************************
// NAVIGATION
// All kind of navigation and menus, including breadcrumb.
//******************************************************************************


// Nav Panel
// -----------------------------------------------------------------------------
.nav-panel {
    width: rem(245px);
    height: 100vh;
    background-color: $brand-1;
    overflow: auto;
    color: #fff;
    font-size: rem(14px);
    line-height: rem(16px);
    padding: rem(100px) rem(16px) 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 13;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);

    @media #{$medium-and-down} {
        z-index: 12;
    }

    @media #{$small-and-down} {
        width: 100%;
    }

    .burger {
        position: absolute;
        top: 37px;
        left: rem(16px);

        @media #{$medium-and-down} {
            display: none;
        }

        span {
            background-color: #fff !important;
        }

        span:nth-child(1) {
            transform: translate3d(0, 1px, 0) rotate(-45deg) !important;
        }

        span:nth-child(2) {
            display: none;
        }

        span:nth-child(3) {
            transform: translate3d(0, -1px, 0) rotate(45deg) !important;
        }
    }

    a { color: #fff; }

    .mobile-nav-opened & {
        transform: translate3d(0, 0, 0);
    }

    .menu-title {
        font-size: rem(14px);
        line-height: rem(16px);
        margin-bottom: 0;
    }

    [data-js="toggle-module"] { cursor: pointer; }

    .menu-module {
        max-width: 142px;
        height: auto;
        max-height: 0;
        display: block;
        overflow: hidden;
        font-family: $default-font;
        font-size: rem(12px);
        line-height: rem(14px);
        transition: max-height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

        @media #{$small-and-down} {
            margin: 0 auto;
        }

        .menu-module--inner {
            padding-top: rem(10px);
            padding-bottom: rem(36px);

            @media #{$small-and-down} {
                padding-top: 30px;
            }
        }

        @media #{$small-and-down} {
            .module-title {
                font-size: rem(14px);
                line-height: rem(16px);
            }
        }
    }

    .active .menu-module {
        max-height: 400px;
        transition: max-height 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .featured-image {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 18px;
    }

    .module-title {
        font-family: "VeluxGothic-Black", sans-serif;
        margin-bottom: 0;
    }

    .social-links {
        margin-bottom: 12px;

        @media #{$small-and-down} {
            text-align: center;
        }

        .social-link {
            color: #fff;
            font-size: 20px;
            margin-right: 5px;
            transition: opacity 0.15s ease-out;
        }

        .social-link:hover {
            opacity: 0.7;
        }
    }

    .bottom-content {
        margin-bottom: 0;

        @media #{$small-and-down} {
            text-align: center;
        }

        @media screen and (min-height: 1000px) {
            margin-bottom: 58px;
        }

        p { margin-bottom: 22px; }
        p:last-child { margin-bottom: 0; }
    }
}


// Main Navigation
// -----------------------------------------------------------------------------
.nav-main {
    margin-bottom: rem(40px);

    @media #{$small-and-down} {
        text-align: center;
    }

    @media screen and (min-height: 1000px) {
        margin-bottom: rem(68px);
    }

    .menu-link {
        display: block;
        color: #fff;
        font-family: "VeluxGothic-Black", sans-serif;
        font-size: rem(14px);
        line-height: rem(20px);
        transition: opacity 0.15s ease-out;

        &:hover { opacity: 0.7; }

        &.active {
            opacity: 1;
        }
    }
}


// Mobile Navigation
// The styles for the navigation button on mobile
// -----------------------------------------------------------------------------
.burger {
    width: 36px;
    height: 14px;
    background: none !important;
    border: 0 !important;
    outline: 0;
    cursor: pointer;

    span {
        width: 100%;
        height: 2px;
        display: block;
        background-color: $brand-1;
        margin: 0;
        transition: background 0.15s;
    }

    .mobile-nav-opened & span {
        background-color: #fff;
    }

    span:nth-child(1) {
        transition: transform 0.35s cubic-bezier(0.86, 0, 0.07, 1) 0.05s;
    }

    span:nth-child(2) {
        margin: 4px 0;
        transition: all 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition-delay: 0.15s;
    }

    span:nth-child(3) {
        transition: transform 0.35s cubic-bezier(0.86, 0, 0.07, 1) 0.05s;
    }

    .mobile-nav-opened & span:nth-child(1) {
        transform: translate3d(0, 6px, 0) rotate(-45deg);
    }

    .mobile-nav-opened & span:nth-child(2) {
        opacity: 0;
        transform: scale(0);
        transition-delay: 0s;
    }

    .mobile-nav-opened & span:nth-child(3) {
        transform: translate3d(0, -6px, 0) rotate(45deg);
    }
}
