//******************************************************************************
// MEDIA QUERIES
//******************************************************************************

// Every mobile devices
// -----------------------------------------------------------------------------
@media screen and (max-width: #{map-get($grid-breakpoints, md) - 1}) {
    .mobile-only  { display: block !important; }
    .desktop-only { display: none !important; }
}

// Desktop
// -----------------------------------------------------------------------------
@media screen and (min-width: #{map-get($grid-breakpoints, md)}) {
    .mobile-only  { display: none !important; }
    .desktop-only { display: block !important; }
}


// INTERNET EXPLORER 10 & 11
// -----------------------------------------------------------------------------
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body,
    .flex {
        display: block !important;
    }
}
