//******************************************************************************
// GLOBAL VARIABLES & MIXINS
// Regroup every variable definition in here.
//******************************************************************************


// Brand color for the project
// -----------------------------------------------------------------------------
$brand-1: #ed1f24; // Red
$brand-2: #fff; // White
$brand-3: #fff; // White
$brand-4: #fff; // White
$brand-5: #fff; // White


// Font Families
// -----------------------------------------------------------------------------
@font-face {
    font-family: "VeluxGothic-Black";
    src: url("../fonts/VeluxGothic-Black.woff") format("woff"), url("../fonts/VeluxGothic-Black.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VeluxGothic-Light";
    src: url("../fonts/VeluxGothic-Light.woff") format("woff"), url("../fonts/VeluxGothic-Light.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}


$default-font:  "VeluxGothic-Light", "Helvetica", "Arial", sans-serif;


// Text colors
// -----------------------------------------------------------------------------
$title-color:   #4d4d4d;
$text-color:    #4d4d4d;
$text-dim:      #333;
$text-faint:    #6a6a6a;
$text-weak:     #999;


// Paragraph and lists spacing
// -----------------------------------------------------------------------------
$paragraph-spacing: 20px;


// Grid columns
// Set the number of columns and specify the width of the gutters.
// -----------------------------------------------------------------------------

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
    xs: 0,
    sm: 660px,
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl: 1450px
) !default;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
    sm: 540px,
    md: 600px,
    lg: 800px,
    xl: 1085px,
    xxl: 1400px
) !default;

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns:      12 !default;
$grid-gutter-width: 15px !default;

$grid-gutter-widths: (
    xs: $grid-gutter-width,
    sm: $grid-gutter-width,
    md: $grid-gutter-width,
    lg: $grid-gutter-width,
    xl: $grid-gutter-width
) !default;


// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
// >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px))
// 576px
@function breakpoint-min( $name, $breakpoints: $grid-breakpoints ) {
    $min: map-get($breakpoints, $name);

    @return if($min != 0, $min, null);
}


// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up( $name, $breakpoints: $grid-breakpoint) {
    $min: breakpoint-min($name, $breakpoints);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }

    @else {
        @content;
    }
}


@mixin make-container-max-widths( $max-widths: $container-max-widths, $breakpoints: $grid-breakpoints ) {
    @each $breakpoint, $container-max-width in $max-widths {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            width: $container-max-width;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
    }
}


// Media Query Ranges
// -----------------------------------------------------------------------------
$small-screen:      #{map-get($grid-breakpoints, sm)} !default;
$medium-screen:     #{map-get($grid-breakpoints, md)} !default;
$large-screen:      #{map-get($grid-breakpoints, lg)} !default;
$xlarge-screen:     #{map-get($grid-breakpoints, xl)} !default;

$medium-and-up: "only screen and (min-width : #{$medium-screen})" !default;
$large-and-up: "only screen and (min-width : #{$large-screen} + 1)" !default;

$laptop-and-down: "only screen and (max-width : #{$xlarge-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$small-and-down: "only screen and (max-width : #{$medium-screen} - 1)" !default;

$medium-only: "only screen and (min-width : #{$small-screen} + 1) and (max-width : #{$medium-screen})" !default;
$laptop-only: "only screen and (min-width : #{$medium-screen} + 1) and (max-width : #{$xlarge-screen})" !default;

$small-landscape: "only screen and (min-width : 480px) and (max-width : #{$medium-screen})" !default;
