//******************************************************************************
// INTERNET EXPLORER 9 AND OLDER VERSIONS
//******************************************************************************

body,
.flex {
    height: auto !important;
    display: block !important;
}

.document {
    height: 100% !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}

textarea {
    overflow: auto !important;
    resize: none !important;
}

.container,
.container-wide,
.row,
.section {
    display: block;
    clear: both;
    position: relative;

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.row {
    &.align-items-center div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    &.justify-content-between > div {
        float: right;
    }

    &.justify-content-between > div:first-child {
        float: left;
    }
}
