//******************************************************************************
// WORSPRESS > ARTICLES
//******************************************************************************


.post-preview {
    font-size: rem(14px);
    line-height: rem(16px);
    padding-left: 10px;
    padding-right: 10px;

    .post-image {
        width: 100%;
        max-width: 142px;
        height: 106px;
        display: block;
        background-color: #000;
        background-size: cover;
        background-position: center;
        margin-bottom: 16px;
        position: relative;

        &:after {
            width: 100%;
            height: 100%;
            content: "\0020";
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
    }

    @media #{$medium-and-up} {
        &:hover .post-image:after { opacity: 1; }
    }

    .btn-start {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        transform: translate3d(-50%, -20%, 0);
        transition:
            opacity 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955),
            transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);

        @media #{$small-and-down} {
            opacity: 1;
            top: auto;
            bottom: 10px;
            transform: translate3d(-50%, 0, 0);
        }
    }

    @media #{$medium-and-up} {
        &:hover .btn-start {
            opacity: 1;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    .post-title {
        display: block;
        color: $text-color;
        font-family: "VeluxGothic-Black", sans-serif;
        margin-bottom: 4px;
    }
}
