//******************************************************************************
// BASE
// html, body & default styles
//******************************************************************************

html {
    height: 100%;
    font-family: $default-font;
    font-size: 100%;
    font-weight: 400;
    color: $text-color;

    @media #{$medium-only} {
        font-size: 80%;
    }
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    font-size: rem(16px);
    line-height: rem(20px);

    &.single-module {
        background-color: #fff;
    }

    @media #{$small-and-down} {
        font-size: rem(14px);
        line-height: rem(18px);
    }

    &.mobile-nav-opened {
        overflow-y: hidden;
    }
}


// Hyperlinks
// -----------------------------------------------------------------------------
//
// Default hyperlinks style
//
// default              - The default hyperlink color is black
// .content a           - Hyperlinks in the content area of the page are pink
// :hover               - Subtle hover highlight.
// .dotted              - Generic hyperlinks within the content of the page
// .arrow-right         - Adds a ">" after the hyperlink
//
// Styleguide 0.0.1.
a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
    }

    &.full {
        display: block;
    }
}


// Quotes & Citations
// -----------------------------------------------------------------------------
.main blockquote {
    margin-bottom: $paragraph-spacing;
}


// Images
// -----------------------------------------------------------------------------
// Make sure the images don't overflow on mobile
.main figure,
.main img {
    max-width: 100%;
    height: auto;
}


// Lists
// -----------------------------------------------------------------------------
.main ul,
.main ol {
    margin-left: 1.15em;
    margin-bottom: $paragraph-spacing;

    &:last-child { margin-bottom: 0; }
}


// Paragraphs
// -----------------------------------------------------------------------------
.main p,
.main details {
    margin-bottom: $paragraph-spacing;

    @media #{$small-and-down} {
        margin-bottom: $paragraph-spacing / 2;
    }

    &:last-child { margin-bottom: 0; }
}
