//******************************************************************************
// BRAND & SKINS
// colors, specific typography, logos
//******************************************************************************


// Brand colors
// -----------------------------------------------------------------------------
.brand-1 { color: $brand-1; }
.brand-2 { color: $brand-2; }
.brand-3 { color: $brand-3; }
.brand-4 { color: $brand-4; }
.brand-5 { color: $brand-5; }


// Logo
// -----------------------------------------------------------------------------
.logo-main {
    width: 113px;
    height: 37px;
    display: block;
    background-image: url(../images/logo/logo-velux.svg);
    background-size: 113px 37px;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 0;
    outline: 0;

    @media #{$small-and-down} {
        width: 68px;
        height: 22px;
        background-size: 68px 22px;
    }
}


// Buttons
// -----------------------------------------------------------------------------
// The default square call-to-action buttons with dark-gradient
//
// :hover               - Invert the gradient effect
// :active              - Darken the text color
//
// Styleguide 0.0.1.
.cta-primary {
    width: auto;
    height: 48px;
    display: inline-block;
    background-color: $brand-1;
    color: #fff;
    font-family: "VeluxGothic-Black", sans-serif;
    font-size: rem(16px);
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 48px;
    border: 0;
    border-radius: 4px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;

    @media #{$small-and-down} {
        height: 36px;
        font-size: rem(14px);
        line-height: 36px;
        padding: 0 22px;
    }

    &:hover {
        background-color: #900;
        color: #fff;
    }
}

.cta-secondary {
    width: auto;
    height: auto;
    display: inline-block;
    background-color: #fff;
    color: #000;
    font-family: "VeluxGothic-Black", sans-serif;
    font-size: rem(14px);
    text-align: center;
    text-transform: uppercase;
    padding: 4px 18px;
    border: 0;
    border-radius: 4px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;

    &:hover {
        background-color: #900;
        color: #fff;
    }
}
