//******************************************************************************
// MODULES
//******************************************************************************


// CAROUSEL > ARROWS
// -----------------------------------------------------------------------------
.slick-arrow {
    width: 68px;
    height: 100%;
    background-color: transparent;
    color: transparent;
    font-size: 0;
    border: 0;
    position: fixed;
    top: 0;
    z-index: 12;
    transition: background 0.15s, opacity 0.15s;

    @media #{$small-and-down} {
        width: 34px;
        height: 34px;
        top: 50%;
        transform: translateY(-50%);
    }

    &[aria-disabled="true"] {
        display: none !important;
    }

    @media #{$medium-and-up} {
        &:hover { background-color: rgba($brand-1, 0.5); }
    }

    &:before {
        width: 68px;
        height: 68px;
        content: "\0020";
        background-color: #7b7a79;
        background-size: 28px 43px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background 0.15s;

        @media #{$small-and-down} {
            width: 34px;
            height: 34px;
            background-size: 12px 20px;
        }
    }

    &.slick-prev {
        left: 0;

        &:before {
            background-image: url(../images/ui/arrow-left-white.svg);
            background-position: 16px center;

            @media #{$small-and-down} {
                background-position: 8px center;
            }
        }
    }

    &.slick-next {
        right: 0;

        &:before {
            background-image: url(../images/ui/arrow-right-white.svg);
            background-position: 24px center;

            @media #{$small-and-down} {
                background-position: 13px center;
            }
        }
    }

    &:hover:before {
        background-color: transparent;
    }
}


// CAROUSEL > DOTS
// -----------------------------------------------------------------------------
.slick-dots {
    width: 100%;
    height: 12px;
    font-size: 0;
    text-align: center;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    z-index: 12;
    transform: translate3d(-50%, 0, 0);

    @media #{$small-and-down} {
        bottom: 8px;
    }

    li {
        width: 12px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        margin: 0 4px;
        position: relative;

        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }
    }

    button {
        width: 7px;
        height: 7px;
        display: block;
        background-color: #c4c4c4;
        color: transparent;
        border: 0;
        border-radius: 50%;
        outline: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition:
            background 0.15s,
            width 0.15s,
            height 0.15s,
            box-shadow 0.15s ease-out;
    }

    .slick-active button {
        width: 12px;
        height: 12px;
        background-color: transparent;
        box-shadow: inset 0 0 0 2px $brand-1;
    }

    li:hover button {
        background-color: $brand-1;
    }
}


// SEARCH BAR
// -----------------------------------------------------------------------------
.search-form {
    width: 176px;
    height: 29px;
    display: inline-block;
    margin-bottom: rem(40px);
    position: relative;

    @media #{$small-and-down} {
        width: 100%;
    }

    @media screen and (min-height: 1000px) {
        margin-bottom: rem(110px);
    }

    .search-field {
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #7b7a79;
        padding-right: 12px;
        padding-left: 42px;
        border: 0;
        border-radius: 4px;
        outline: 0;
    }

    .search-submit {
        width: 18px;
        height: 18px;
        background-color: transparent;
        background-image: url(../images/ui/icon-search-grey.svg);
        background-size: 18px 18px;
        border: 0;
        outline: 0;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    }
}


// LOADING ANIMATION
// Can be used with the `/templates/partials/loader.php` file
// -----------------------------------------------------------------------------
@keyframes sk-bounce {
    0%,
    100% {
        transform: scale3d(0, 0, 1);
    }

    50% {
        transform: scale3d(1, 1, 1);
    }
}

.loader {
    width: 40px;
    height: 40px;
    display: none;
    position: relative;

    .double-bounce1,
    .double-bounce2 {
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-color: $brand-1;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        animation: sk-bounce 2s infinite ease-in-out;
    }

    .double-bounce2 {
        animation-delay: -1s;
    }
}


// PAGE SHARING
// This module uses the "Sassy Social Share" plugin to share a slide
// Initially we only show the sharing icon and when clicked it reveals
// all the different button
// -----------------------------------------------------------------------------
.page-sharing {
    height: 40px;
    margin-top: rem(40px);

    @media #{$small-and-down} {
        margin-top: rem(40px);
    }

    button {
        background: none;
        color: $brand-1;
        font-size: rem(20px);
        cursor: pointer;
        border: 0;
    }

    .page-sharing--options {
        height: 40px;
        display: inline-block;
        overflow: hidden;
        vertical-align: -13px;
        padding-left: 12px;
    }

    .heateorSssSharingRound {
        transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
        transform: translate3d(0, 80px, 0);

        &:nth-child(1) { transition-delay: 0s; }
        &:nth-child(2) { transition-delay: 0.1s; }
        &:nth-child(3) { transition-delay: 0.2s; }
        &:nth-child(4) { transition-delay: 0.3s; }
        &:nth-child(5) { transition-delay: 0.4s; }
        &:nth-child(6) { transition-delay: 0.5s; }
    }

    &.active .heateorSssSharingRound {
        transform: translate3d(0, 0, 0);
    }
}


// ACCORDION
// -----------------------------------------------------------------------------
details > summary {
    display: block;
    cursor: pointer;
    list-style: none;
    font-family: "VeluxGothic-Black", sans-serif;
    transition: color 1s;
    position: relative;

    &:before {
        display: inline-block;
        font-family: "Font Awesome 5 Free", sans-serif;
        content: "\f0fe";
        color: $brand-1;
        vertical-align: 0;
        margin-right: 16px;
        transition: transform 0.3s ease-in-out;
    }

    &:hover:before {
        transform: rotate(90deg);
    }

    + * {
        padding-top: 10px;
    }
}

details {
    transition: all 0.3s ease-out;
}

details[open] > summary:before {
    transform: rotate(180deg);
}

.no-details details {
    div {
        margin-bottom: $paragraph-spacing;
    }

    summary:before {
        display: none;
        margin: 0;
    }
}
