//******************************************************************************
// PAGES
// Common styles shared by multiple pages
// Unless you're working on very large site or application, most of the
// page-specific code should go in here. Placing it in separate files can
// create overqualified problems for your rules, so watch out.
//******************************************************************************


// PAGE > LANDING
// -----------------------------------------------------------------------------
#page-landing {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition:
        opacity 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955),
        transform 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    .home & {
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .page-title {
        color: $text-color;
        font-family: $default-font;

        strong {
            font-family: "VeluxGothic-Black", sans-serif;
        }
    }

    // Styles for when we are hiding the landing overlay and showing the
    // main content
    &.unload {
        opacity: 0;
        transform: scale3d(0.9, 0.9, 0.9);
    }

    .video-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    video[poster] {
        object-fit: cover;
    }

    .container {
        align-self: center;
        position: relative;
        z-index: 4;
    }

    .content {
        padding-top: 0;
        padding-bottom: 0;

        @media #{$medium-and-up} {
            max-width: 33%;
        }

        @media screen and (max-width: #{map-get($grid-breakpoints, lg)}) {
            max-width: 50%;
        }

        @media #{$small-and-down} {
            max-width: 100%;
        }
    }

    .page-description {
        margin-bottom: $paragraph-spacing;
    }
}


// PAGE > ERROR 404
// -----------------------------------------------------------------------------
.error404 {
    background-image: url(../images/bg/bg-default.jpg);
    background-size: cover;
    background-position: center;

    .container--inner {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        a {
            color: $brand-1;
            text-decoration: underline;
        }

        a:hover { text-decoration: none; }
    }

    .page-title {
        color: $brand-1;
        font-family: "VeluxGothic-Black", sans-serif;
        font-size: rem(100px);
        line-height: rem(100px);
    }
}


// PAGE > SEARCH RESULTS
// -----------------------------------------------------------------------------
body.search {
    background-color: $brand-1;
    color: #fff;

    @media #{$small-and-down} {
        .site-header { display: block; }
    }

    .main {
        &:after {
            display: none;
        }

        .container {
            width: 812px;
            max-width: 100%;
            padding-top: 100px;
            margin-left: auto;
            margin-right: auto;
        }

        .search-form {
            width: 100%;
            margin-bottom: 90px;

            .search-field {
                font-family: "VeluxGothic-Black", sans-serif;
                font-size: rem(12px);
                padding-left: 45px;
            }
        }
    }

    .results-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 80px;
        grid-row-gap: 34px;

        @media #{$small-and-down} {
            grid-template-columns: 48% 48%;
            grid-column-gap: 4%;
        }

        .post-preview {
            grid-column: 1fr;
            font-size: rem(12px);
            line-height: rem(14px);
            padding-left: 0;
            padding-right: 0;

            .post-image {
                height: 106px;
            }

            .btn-start {
                display: none !important;
            }

            .post-title {
                color: #fff;
                font-size: rem(12px);
                line-height: rem(14px);
            }

            .post-content {
                width: 100%;
                min-width: 0;
                height: auto;
                color: #fff;
            }
        }

        .no-results {
            grid-column: 1 / 5;
        }
    }
}
