//******************************************************************************
// SECTIONS
// Styles for the various sections used throughout the site
//******************************************************************************


// SECTION > GENERAL
// -----------------------------------------------------------------------------
.section-general {
    position: relative;

    .container {
        position: relative;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);

        @media #{$small-and-down} {
            background-color: #fff;
            padding-top: 16px;
            padding-bottom: 16px;
            margin-top: 260px;
            top: 0;
            transform: none;
        }
    }

    @media #{$medium-and-up} {
        header { max-width: 22%; }
        .slide-content { max-width: 36%; }
    }

    @media screen and (max-width: #{map-get($grid-breakpoints, lg)}) {
        header { max-width: 50%; }
        .slide-content { max-width: 50%; }
    }

    @media #{$small-and-down} {
        header { max-width: 100%; }
        .slide-content { max-width: 100%; }
    }


    // Inverted color scheme for this section when using the dark background
    // Make sure this is on desktop only since on mobile the content wrapper
    // will have a white background
    @media #{$medium-and-up} {
        &.general_dark {
            color: #fff;
        }
    }

    // @BUGFIX #3: Add a gradient on the left side using CSS instead of an
    // image.
    &.general_dark .background-gradient {
        width: 50%;
        height: 100%;
        content: "\0020";
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 53%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: 0;
        left: 0;
    }

    @media #{$small-and-down} {
        &.general_dark .container {
            background-color: #000;
            color: #fff;
        }
    }

    // Add a bit of padding at the end of the container on mobile to account
    // for the slide dots
    @media #{$small-and-down} {
        .slide-content { padding-bottom: 60px; }
    }
}


// SECTION > SINGLE MODULE
// -----------------------------------------------------------------------------
.section-single-module {
    // On mobile for these slides only make sure the background image is 260px
    // and positioned at the top since the content will be in a white
    // container further down the page
    @media #{$small-and-down} {
        background-size: auto 260px;
        background-position: center 0;
    }

    .container {
        height: 100%;

        @media #{$small-and-down} {
            height: auto;
            background-color: #fff;
            padding-top: 16px;
            padding-bottom: 60px;
            margin-top: 260px;
        }
    }

    .container--inner {
        position: relative;

        @media #{$medium-and-up} {
            max-width: 40%;
            margin-left: 60%;
            top: 50%;
            transform: translateY(-50%);
        }

        @media screen and (max-width: #{map-get($grid-breakpoints, lg)}) {
            max-width: 60%;
            margin-left: 40%;
        }

        @media #{$small-and-down} {
            max-width: 100%;
            margin-left: 0;
        }
    }
}


// SECTION > HOTSPOTS
// -----------------------------------------------------------------------------
@keyframes pulsate {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}


@keyframes nectarBounceIn {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }

    33% {
        transform: translateY(-13px);
        opacity: 1;
    }

    66% {
        transform: translateY(4px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.section-hotspots {
    @media #{$small-and-down} {
        background-size: auto 240px;
        background-position: center top;
        padding-top: 240px;
    }

    .hotspot {
        opacity: 0;
        position: absolute;
        transition: opacity 0.3s linear 0.5s;

        @media #{$small-and-down} {
            display: none;
        }
    }

    @media #{$medium-and-up} {
        .hotspot:before {
            width: 29px;
            height: 29px;
            opacity: 1;
            content: "\0020";
            background-color: $brand-1;
            border-radius: 4px;
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: -1;
            transform-origin: 50% 50%;
            animation: pulsate 3s cubic-bezier(0.2, 1, 0.2, 1) infinite;
        }

        &.loaded .hotspot {
            opacity: 1;
            animation: nectarBounceIn 0.8s ease-out forwards;
        }
    }

    .hotspot:nth-child(1) { animation-delay: 0.3s; }
    .hotspot:nth-child(2) { animation-delay: 0.5s; }
    .hotspot:nth-child(3) { animation-delay: 0.7s; }
    .hotspot:nth-child(4) { animation-delay: 0.9s; }
    .hotspot:nth-child(5) { animation-delay: 1.1s; }
    .hotspot:nth-child(6) { animation-delay: 1.3s; }
    .hotspot:nth-child(7) { animation-delay: 1.5s; }
    .hotspot:nth-child(8) { animation-delay: 1.7s; }

    svg {
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: transform 0.3s;
    }

    rect {
        fill: $brand-1;
        transition: all 0.2s ease-out;

        @media #{$small-and-down} {
            fill: #000;
        }
    }

    svg:hover rect { fill: #900; }

    path {
        fill: #fff;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 1);
        transition: transform 0.15s;
        transform-origin: center;
    }

    .hotspot:hover svg,
    .active svg {
        transform: rotate(90deg);
    }

    .hotspot-info {
        width: 340px;
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        padding: 26px 40px;
        border-radius: 4px;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 12px;
        left: 12px;
        transition: all 0.3s;
    }

    .hotspot.up .hotspot-info {
        top: auto;
        bottom: 12px;
    }

    .active .hotspot-info {
        opacity: 1;
        visibility: visible;
    }

    .hotspot-title {
        font-family: "VeluxGothic-Black", sans-serif;
        font-weight: normal;
        padding-bottom: 16px;
        margin-bottom: 16px;
        position: relative;

        &:after {
            width: 36px;
            height: 2px;
            content: "\0020";
            background-color: $brand-1;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    @media #{$small-and-down} {
        .container {
            background-color: #fff;
            padding-top: 26px;
            padding-bottom: 26px;
        }
    }

    .hotspot-definition {
        padding-bottom: 16px;

        dd {
            width: 100%;
            display: block;
            padding-left: 30px;
            padding-bottom: 10px;
            border-bottom: 2px solid $brand-1;
            position: relative;

            &:before {
                display: none;
            }
        }

        svg {
            border-radius: 10px;
            transform: scale(0.4);
            position: absolute;
            top: -10px;
            left: -10px;
        }

        &.opened rect {
            fill: $brand-1;
        }

        .hotspot-title {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        path {
            margin: 0;
            position: relative;
            top: 0;
            left: 0;
            transform: none;
        }

        .hotspot-title:after {
            content: "";
            display: none;
        }

        .hotspot-description {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.6s ease-in-out;
        }

        &.opened .hotspot-description {
            max-height: 400px;
        }

        .hotspot-description--inner {
            padding: 16px 16px 16px 32px;
            border-bottom: 2px solid $brand-1;
        }
    }
}


// SECTION > video
// -----------------------------------------------------------------------------
.section-video {
    background-color: #000; // @BUGFIX #15
    color: #fff;
    text-align: center;

    .video-overlay {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        transition: opacity 0.5s ease-out;
        z-index: 6;
    }

    &.unload .video-overlay {
        background-size: 0 0;
        opacity: 0;
    }

    .container {
        position: relative;
        top: 50%;
        z-index: 3;
        transform: translateY(-50%);
    }

    .container--inner {
        width: 240px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    iframe {
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    .btn-play {
        margin-bottom: 42px;
    }

    .video-title {
        display: block;
    }
}


// SECTION > SPLIT
// -----------------------------------------------------------------------------
.section-split {
    display: grid !important;
    grid-template-columns: 1fr 1fr;

    @media #{$small-and-down} {
        grid-template-columns: 100%;
    }

    .col-left,
    .col-right {
        height: 100%;
        background-size: cover;
        background-position: center;

        @media #{$small-and-down} {
            height: auto;
        }
    }

    .col-left {
        grid-column: 1 / 2;

        @media #{$small-and-down} {
            background-position: center top;
            background-size: 100% auto;
            padding-top: 260px;
        }

        .container {
            @media #{$small-and-down} {
                background-color: #fff;
                padding-top: 14px;
                padding-left: $grid-gutter-width;
                padding-right: $grid-gutter-width;
            }

            @media #{$medium-and-up} {
                position: absolute;
                top: 12rem;
                left: 50%;
                transform: translateX(-50%);

                .container--inner {
                    width: 380px;
                    max-width: 50%;
                }
            }

            @media screen and (min-width: 1600px) {
                top: 22rem;
            }

            @media screen and (max-width: #{map-get($grid-breakpoints, lg)}) {
                .container--inner {
                    max-width: 40%;
                }
            }

            @media #{$small-and-down} {
                .container--inner {
                    max-width: 100%;
                }
            }
        }
    }

    .col-right {
        grid-column: 2 / 3;
        position: relative;
        z-index: 2;

        @media #{$medium-and-up} {
            padding-left: 74px;
            padding-right: 74px;
        }

        @media screen and (max-width: #{map-get($grid-breakpoints, lg)}) {
            padding-left: $grid-gutter-width * 2;
            padding-right: $grid-gutter-width * 2;
            padding-bottom: 60px;
        }
    }

    .modules-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 26px;
        margin-top: 12rem;
        margin-bottom: 6rem;

        @media screen and (max-width: #{map-get($grid-breakpoints, lg)}) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1600px) {
            margin-top: 22rem;
        }

        @media #{$small-and-down} {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 4%;
            grid-row-gap: 3rem;
            margin-top: 3rem;
            margin-bottom: 1.5rem;
        }

        .group-title {
            color: $text-color;
            margin-bottom: 18px;
        }

        .group-title.next {
            color: $brand-1;
            font-family: "VeluxGothic-Black", sans-serif;
        }

        .module {
            grid-column: 1fr;
        }

        .btn-start {
            height: 38px;
            font-size: rem(14px);
            line-height: 38px;
            padding: 0 20px;
        }

        .post-preview {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .cta {
        margin-bottom: 24px;

        @include clearfix;

        @media #{$small-and-down} {
            width: 48%;
            float: left;
        }

        &:last-child {
            margin-bottom: 0;

            @media #{$small-and-down} {
                margin-left: 4%;
            }
        }

        .button {
            width: 140px;
            float: left;
            padding-left: 0;
            padding-right: 0;
            margin-right: 44px;

            @media #{$small-and-down} {
                width: 100%;
            }
        }

        .cta-description {
            width: 150px;
            display: block;
            float: left;
            font-size: rem(12px);
            line-height: rem(14px);
            padding: 1em;
        }
    }
}


// SECTION > DEVELOPMENT MODULES
// -----------------------------------------------------------------------------
.section-modules {
    position: relative;

    @media #{$medium-and-up} {
        background-color: #dfdfdf;
    }

    .section--inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    header {
        text-align: center;
        padding-bottom: 18px;
        margin-bottom: 0;

        @media #{$small-and-down} {
            padding-bottom: 8px;
        }

        &:after {
            display: none;
            content: "";
        }
    }

    .section-description {
        font-size: rem(18px);
        line-height: rem(21px);
        max-width: 38%;
        margin: 0 auto;

        @media #{$small-and-down} {
            display: none;
        }
    }

    .section-content {
        background-color: #fff;
        position: relative;

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(0, -50%);

            @media #{$small-and-down} {
                top: 100px;
                margin-left: -20px;
            }
        }
    }

    .modules-categories {
        font-size: 0;
        text-align: center;
        padding: 20px 0 14px;

        @media #{$small-and-down} {
            padding: 0 0 14px;
        }

        .cat-list {
            width: 100%;
            max-width: 290px;
            height: 42px;
            background-color: #fff;
            background-image: url(../images/ui/arrow-down-grey.svg);
            background-position: right 16px center;
            background-size: 20px 12px;
            color: #7b7a79;
            font-family: "VeluxGothic-Black", sans-serif;
            font-size: rem(16px);
            line-height: rem(16px);
            padding-left: 15px;
            padding-right: 40px;
            border: 1px solid #7b7a79;
        }

        .cat-link {
            display: inline-block;
            vertical-align: top;
            color: #c4c4c4;
            font-size: rem(16px);
            line-height: rem(14px);
            font-family: "VeluxGothic-Black", sans-serif;
            text-transform: uppercase;
            margin: 0 7px;
            transition: color 0.15s ease-out;
        }

        .cat-link:hover {
            color: $text-color;
        }

        .active {
            color: $brand-1;
            padding-bottom: 3px;
            border-bottom: 2px solid $brand-1;
        }
    }

    @media #{$medium-and-up} {
        .modules-list { min-height: 428px; }
    }

    .post-preview {
        height: auto;
        font-size: rem(16px);
        line-height: rem(20px);
        padding-bottom: 16px;

        @media #{$small-and-down} {
            font-size: rem(14px);
            line-height: rem(17px);
            text-align: center;
        }

        .post-image {
            max-width: none;
            height: 306px;

            @media #{$small-and-down} {
                height: 185px;
            }
        }

        .post-content {
            width: 60%;
            min-width: 200px;
            height: 106px;
            overflow: hidden;

            @media #{$small-and-down} {
                margin: 0 auto;
            }
        }

        .post-title {
            color: $brand-1;
        }
    }

    .slick-arrow {
        height: 68px;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            background-color: #333;
        }
    }

    .slick-dots {
        bottom: -30px;
    }
}
