//******************************************************************************
// SHAME
// "The idea of shame.css is that you have a totally new stylesheet reserved
// just for your hacky code. The code you have to write to get the release out
// on time, but the code that makes you ashamed."
// http://csswizardry.com/2013/04/shame-css/
//******************************************************************************


// Fix for the CSS Grid on IE11
.no-templatestrings {
    #page-landing {
        .container {
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .section-split {
        overflow-x: hidden;

        .col-right {
            padding-bottom: 60px;
        }
    }

    .section-split .modules-list .module {
        &:nth-child(1) { grid-column: 1 / 2; }
        &:nth-child(2) { grid-column: 2 / 3; }
        &:nth-child(3) { grid-column: 3 / 4; }
        &:nth-child(4) { grid-column: 4 / 5; }
    }
}
