//******************************************************************************
// STRUCTURE
// General elements of the structure, including containers and wrappers
//******************************************************************************


// CONTENT
// -----------------------------------------------------------------------------
#document {
    flex: 1 0 auto;
}

.main {
    height: 100%;
    position: relative;
    transition:
        opacity 0.55s cubic-bezier(0.23, 1, 0.32, 1) 0.35s,
        transform 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.35s;

    .home & {
        opacity: 0;
        transform: scale3d(0.95, 0.95, 0.95);
    }

    .home &.active {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    @media #{$medium-and-down} {
        &:after {
            width: 100%;
            height: 60px;
            content: "\0020";
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 8;
        }

        &.hide-gradient:after {
            display: none;
        }
    }
}

.content {
    padding-top: 140px;
    padding-bottom: 60px;
}

.section {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-size: cover;
    background-position: center;
    position: relative;

    @media #{$small-and-down} {
        background-size: auto 50%;
        background-position: center top;
    }

    header {
        display: block;
        padding-bottom: 12px;
        margin-bottom: 40px;
        position: relative;

        @media #{$medium-and-down} {
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        &:after {
            width: 36px;
            height: 2px;
            content: "\0020";
            background-color: $brand-1;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.container {
    @include make-container-max-widths();

    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}
