//******************************************************************************
// TYPOGRAPHY
//******************************************************************************


// Utilities
// -----------------------------------------------------------------------------
.alt-text {

}

// Text usually used for sub section titles
.leaders {

}

// Use for tooltips, small buttons, helper, etc.
.small-link {

}

strong {
    font-family: "VeluxGothic-Black", sans-serif;
    font-weight: normal;
}


// Headings
// -----------------------------------------------------------------------------
// Define a reusable & flexible class for each heading, which can be used
// everywhere in the page to replicate the style of the headings while keeping
// a clean structure.
// http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
h1,
.alpha {
    color: $brand-1;
    font-family: "VeluxGothic-Black", sans-serif;
    font-size: rem(54px);
    line-height: rem(65px);
    margin: 0 0 15px;

    @media #{$small-and-down} {
        font-size: rem(47px);
        line-height: rem(57px);
    }
}

h2,
.beta {

}

h3,
.gamma {

}

h4,
.delta {

}

h5,
.epsilon {

}

h6,
.zeta {

}



// Page & Section Titles
// -----------------------------------------------------------------------------
.section-title {
    color: $brand-1;
    font-family: "VeluxGothic-Black", sans-serif;
    font-size: rem(26px);
    line-height: rem(32px);
    font-weight: normal;
    margin-bottom: 8px;

    @media #{$small-and-down} {
        font-size: rem(18px);
        line-height: rem(18px);
    }
}

.section-subtitle {
    font-family: "VeluxGothic-Black", sans-serif;
    font-size: rem(18px);
    line-height: rem(22px);
    font-weight: normal;
    margin-bottom: 0;
}


// Font Colors
// -----------------------------------------------------------------------------
.white  { color: #fff; }
.black  { color: #000; }
.dim    { color: $text-dim; }
.faint  { color: $text-faint; }
.weak   { color: $text-weak; }
.danger { color: red; }
